RewriteEngine On
RewriteBase /admin/

RewriteRule ^$ login [L,R=301]
RewriteRule ^login/?$ index.php [L,QSA]
RewriteRule ^dashboard/?$ dashboard.php [L,QSA]
RewriteRule ^logout/?$ logout.php [L,QSA]
RewriteRule ^home/?$ home/index.php [L,QSA]
RewriteRule ^home/hero/?$ home/hero/index.php [L,QSA]
RewriteRule ^home/hero/crear/?$ home/hero/create.php [L,QSA]
RewriteRule ^home/hero/editar/([0-9]+)/?$ home/hero/edit.php?id=$1 [L,QSA]
RewriteRule ^home/hero/eliminar/([0-9]+)/?$ home/hero/delete.php?id=$1 [L,QSA]
RewriteRule ^home/textos/?$ home/textos.php [L,QSA]
RewriteRule ^home/aliados/?$ home/aliados/index.php [L,QSA]
RewriteRule ^home/aliados/crear/?$ home/aliados/create.php [L,QSA]
RewriteRule ^home/aliados/editar/([0-9]+)/?$ home/aliados/edit.php?id=$1 [L,QSA]
RewriteRule ^home/aliados/eliminar/([0-9]+)/?$ home/aliados/delete.php?id=$1 [L,QSA]
RewriteRule ^home/clientes/?$ home/clientes/index.php [L,QSA]
RewriteRule ^home/clientes/crear/?$ home/clientes/create.php [L,QSA]
RewriteRule ^home/clientes/editar/([0-9]+)/?$ home/clientes/edit.php?id=$1 [L,QSA]
RewriteRule ^home/clientes/eliminar/([0-9]+)/?$ home/clientes/delete.php?id=$1 [L,QSA]
RewriteRule ^servicios/?$ servicios/index.php [L,QSA]
RewriteRule ^servicios/editar/?$ servicios/editar.php [L,QSA]
RewriteRule ^servicios/editar/([0-9]+)/?$ servicios/editar.php?id=$1 [L,QSA]
RewriteRule ^test-db/?$ test_db.php [L,QSA]
RewriteRule ^reset-admin-password/?$ reset_admin_password.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php [L,QSA]
